<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
              <p>An open-source benchmark for evaluating chat-optimized language models as conversational agents through game play.</p>
          </div>

          <div class="footer-col footer-col-2">
              <ul class="social-media-list">
                  <li>Code:
                      <a href="https://github.com/clembench/clembench">
                          <img src="{{ '/assets/github-mark.svg' | relative_url }}" alt="GitHub" style="width: 20px; height: auto;">
                          <span class="username">clembench</span>
                      </a>
                  </li>
              </ul>
          </div>

          <div class="footer-col footer-col-3">
              <ul class="contact-list">
                  <li class="p-name"></li>
                  <li><a class="u-email" href="https://clp.ling.uni-potsdam/">Foundations of Computational Linguistics, Potsdam</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
