---

---

@import "minima";

/* Parent styles */
.page-content,
.post-content,
.main,
.wrapper {
    max-width: 95%; 
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
}

////////////////////////////// Base styles irrespective of resolution /////////////////////////////
body.leaderboard-page .footer-col {
    display: none;
}

// Handle nav bar overlay
.site-nav {
    z-index: 999;
}

.iframe-container {
    position: absolute;
    width: 100%;
    height: 89%; 
    margin-left: -5%;
    z-index: 1; // For nav-bar overlay 
}

.iframe-container iframe {
    position: relative;
    width: 100%; 
    height: 100%; 
}

/* For video embed on index page*/ 
.iframe-video {
    text-align: center;
    position: relative;
    width: 100%; 
    margin: 0 auto; 
    padding-top: auto; 
    min-width: 300px;
    min-height: 500px;
    z-index: 2; // For nav-bar overlay 
}

.iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* For footer */
.site-footer {
    text-align: center; 
}

.footer-col-wrapper {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; /* Allows the columns to wrap on smaller screens */
}

.footer-col {
    flex: 1; 
    margin: 0 10px;
    max-width: 300px;
}

.table-container {
    width: 99%;
    align-self: center;
    overflow-x: auto; 
}

/* Optional: Set table width to 100% to ensure it occupies the full width */
.table-container table {
    width: 100%;
}

.table-container td {
    border: 1px solid black;
}
.table-container th {
    border: 1px solid black; 
}

.contibutors td {
    border: 1px solid black; 
}
.contibutors th {
    border: 1px solid black; 
}


.contibutors {
    width: 80%;
    align-self: center;
    overflow-x: auto; 
}

.contributors table {
    width: 100%;
    align-self: center;
}



