---

---

@import "minima";

/* Parent styles */
.page-content,
.post-content,
.main,
.wrapper {
    max-width: 70%; 
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
}

////////////////////////////// Base styles irrespective of resolution /////////////////////////////
body.leaderboard-page .footer-col {
    display: none;
}

// Handle nav bar overlay
.site-nav {
    z-index: 999;
}

.iframe-container {
    position: absolute;
    max-width: 100%;
    width: 99%;
    height: 89%; 
    margin-left: -25%;
    z-index: 1; // For nav-bar overlay 
}

.iframe-container iframe {
    position: relative;
    width: 100%; 
    height: 100%; 
}

/* For video embed on index page*/ 
.iframe-video {
    text-align: center;
    position: relative;
    width: 100%; 
    margin: 0 auto; 
    padding-top: auto; 
    min-width: 300px;
    min-height: 500px;
    z-index: 2; // For nav-bar overlay 
}

.iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* For footer */
.site-footer {
    text-align: center; 
}

.footer-col-wrapper {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; /* Allows the columns to wrap on smaller screens */
}

.footer-col {
    flex: 1; 
    margin: 0 10px;
    max-width: 300px;
}

.table-container {
    width: 99%;
    align-self: center;
    overflow-x: auto; 
}


.table-container table {
    width: 100%;
}

.table-container td {
    border: 1px solid black;
}
.table-container th {
    border: 1px solid black; 
}

.contibutors td {
    border: 1px solid black; 
}
.contibutors th {
    border: 1px solid black; 
}


.contibutors {
    width: 80%;
    align-self: center;
    overflow-x: auto; 
}

.contributors table {
    width: 100%;
    align-self: center;
}

// For mobile and tablet resolutions (>=375, <=1024 width)
@media screen and (min-width: 375px) and (max-width: 1024px) {

    // Set full width on mobile screens
    .page-content,
    .post-content,
    .main,
    .wrapper {
        max-width: 95%; 
        width: 100%;
        margin-left: auto; 
        margin-right: auto; 
    }

    .iframe-container {
        position: absolute;
        width: 100%;
        height: 120%; 
        padding-left: auto;
        margin-left: -7%;
        padding-top: auto;
        margin-top: auto;
        z-index: 1; // For nav-bar overlay 
    }
 

}

// For 4K resolution

@media screen and (min-width: 3840px) {

    .iframe-container {
        position: absolute;
        width: 50%;
        height: 40%; 
        margin-left: 0%;
        margin-top: 15%;
        z-index: 1; // For nav-bar overlay 
    }
    
    .iframe-container iframe {
        position: relative;
        transform: scale(2.2);
        width: 100%; 
        height: 100%; 
    }

    body {
        font-size: xx-large;
    }
    
}

@media screen and (min-width: 2160px) and (max-width: 3839px) {
    .iframe-container {
        position: absolute;
        width: 50%;
        height: 40%; 
        margin-left: 0%;
        margin-top: 35%;
        z-index: 1; // For nav-bar overlay 
    }
    
    .iframe-container iframe {
        position: relative;
        transform: scale(2);
        width: 100%; 
        height: 100%; 
    }
}

// For smaller screens (< 375 x 667 - Iphone 3-4)
@media screen and (max-width: 374px) {
    .iframe-container {
        position: absolute;
        width: 120%;
        height: 100%; 
        margin-left: -25%;
        margin-top: -10%;
        z-index: 1; // For nav-bar overlay 
    }
    
    .iframe-container iframe {
        position: relative;
        transform: scale(0.8);
        width: 100%; 
        height: 100%; 
    }
}


// .uni-logo {
//     display: flex;
//     align-items: center;
//   }
  
// .site-title {
// display: inline;
// font-size: 1.5em;
// }

.header-content {
    display: flex;
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Aligns items vertically center */
    padding: 10px 0; /* Adjust padding as needed */
  }
  
  .site-title {
    display: flex; /* Flex to align logo and title */
    align-items: center; /* Centers the logo with text */
    margin-right: auto; /* Pushes nav and supported by to the right */
  }
  
  .site-nav {
    margin-left: 20px; /* Space between title and nav links */
  }
  
  .supported-by {
    display: flex; /* Allows for horizontal layout */
    align-items: center; /* Centers the logo with text */
    margin-left: auto; /* Pushes it to the far right */
  }
  
  /* Additional styles for the nav links */
  .page-link {
    margin-left: 15px; /* Space between nav links */
  }
  
/* Media query for mobile devices */
@media (max-width: 600px) {
    .header-content {
      flex-direction: row; /* Stack items vertically */
    //   align-items: flex-start; /* Align to the left */
      padding: 5px; /* Reduce padding for smaller screens */
    }
  
    .site-title {
      font-size: 1em; /* Adjust font size for title */
    //   margin: ; /* Add some margin for spacing */
      text-align: center;
      align-items: center;
      align-content: center;
    }
  
    .supported-by {
    //   margin-top: 15px; /* Spacing above the supported by section */
      font-size: 0.8em;
      text-align: center;
      align-items: center;
      align-content: center;
    }
  
    .page-link {
      display: block; /* Stack links vertically */
      padding: 5px 0; /* Add padding for touch targets */
    }
  }